.AppBar {
	padding: 16px;
	//background: rgba(220,220,220,0.2);
	border-bottom: 1px solid rgb(230,230,230);

}
a.AppBar-logo {
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
	padding-right: 10px;
	border: none;
}
a.AppBar-logo:hover {
	color: #87B825;
}
a.AppBar-nav {
	border: none;
	margin: 0 5px;
	font-size: 14px;
	font-weight: 800;
}
a.AppBar-nav:hover {
	border-bottom: 2px solid;
	//color: #87B825;
}
